<%= render 'layouts/admins_header' %>

<div class="body">
	<div class="container">

    <h3><%= @photo.user.name %></h3>

    <div class="row">
      <div class="col-4 text-center">
        <div id="profile_image">
          <%= attachment_image_tag @photo.user, :profile_image, :fill, 250, 250, fallback: "no_image_user.jpg" %>
        </div>

        <table class="table">
          <tr>
            <td>Follows Followers</td>
          </tr>
          <tr>
            <td><%= @photo.user.introduction %></td>
          </tr>
          <tr>
            <td>
              <% @photo.user.cameras.each do |camera| %>
                <div><i class="fas fa-camera"></i> <%= camera.camera_name %></div>
              <% end %>
            </td>
          </tr>
        </table>

        <%= link_to '編集', edit_admins_user_path(@photo.user), class: "btn btn-outline-success col-12" %>
      </div>

      <div class="col-3">
        <div id="photo_image">
          <%= attachment_image_tag @photo, :image, :fill, 270, 180, fallback: "no_image_photo.jpg" %>
        </div>
      </div>

      <div class="col-5">
        <table class="table table-sm col-12">
          <tr>
            <th>日付</th>
            <td><%= @photo.date %></td>
          </tr>
          <tr>
            <th>カメラ</th>
            <td><%= @photo.camera %></td>
          </tr>
          <tr>
            <th>レンズ</th>
            <td><%= @photo.lens %></td>
          </tr>
          <tr>
            <th>絞り</th>
            <td><%= @photo.aperture %></td>
          </tr>
          <tr>
            <th>シャッタースピード</th>
            <td><%= @photo.ss %></td>
          </tr>
          <tr>
            <th>ISO</th>
            <td><%= @photo.iso %></td>
          </tr>
          <tr>
            <th>ホワイトバランス</th>
            <td><%= @photo.wb %></td>
          </tr>
          <tr>
            <th>ピント</th>
            <td><%= @photo.focus %></td>
          </tr>
        </table>

        <%= link_to '編集', edit_admins_photo_path(@photo), class: "btn btn-outline-success btn-sm col-12" %>
      </div>
    </div>

　</div>
</div>