<%= render 'layouts/admins_header' %>

<div class="body">
	<div class="container">

    <h3><%= @photo.user.name %></h3>

    <div class="row">
      <div class="col-4 text-center">
        <div id="profile_image">
          <%= attachment_image_tag @photo.user, :profile_image, :fill, 250, 250, fallback: "no_image_user.jpg" %>
        </div>

        <table class="table">
          <tr>
            <td>
              <div class="d-inline col-6">Follows <%= @photo.user.follower.count %></div>
              <div class="d-inline col-6">Followers <%= @photo.user.followed.count %></div>
            </td>
          </tr>
          <tr>
            <td><%= @photo.user.introduction %></td>
          </tr>
          <tr>
            <td>
              <% @photo.user.cameras.each do |camera| %>
                <div><i class="fas fa-camera"></i> <%= camera.camera_name %></div>
              <% end %>
            </td>
          </tr>
        </table>

        <%= link_to '編集', edit_admins_user_path(@photo.user), class: "btn btn-outline-success col-12" %>
      </div>

      <div class="col-8">
        <div class="row">
          <div class="col-5">
            <div id="photo_image">
              <%= attachment_image_tag @photo, :image, :fill, 285, 190, fallback: "no_image_photo.jpg" %>
            </div>
            <div class="float-right">
              <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
              いいね <%= @photo.favorites.count %> 件
            </div>
            <br>
            <%= link_to '編集', edit_admins_photo_path(@photo), class: "btn btn-outline-success btn-sm col-12" %>
          </div>

          <div class="col-7">
            <table class="table table-sm col-12">
              <tr>
                <th>日付</th>
                <td><%= @photo.date %></td>
              </tr>
              <tr>
                <th>カメラ</th>
                <td><%= @photo.camera %></td>
              </tr>
              <tr>
                <th>レンズ</th>
                <td><%= @photo.lens %></td>
              </tr>
              <tr>
                <th>絞り</th>
                <td><%= @photo.aperture %></td>
              </tr>
              <tr>
                <th>シャッタースピード</th>
                <td><%= @photo.ss %></td>
              </tr>
              <tr>
                <th>ISO</th>
                <td><%= @photo.iso %></td>
              </tr>
              <tr>
                <th>ホワイトバランス</th>
                <td><%= @photo.wb %></td>
              </tr>
              <tr>
                <th>ピント</th>
                <td><%= @photo.focus %></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <table class="table">
              <% @photo.photo_comments.each do |photo_comment| %>
                <tr>
                  <td>
                    <%= link_to user_path(photo_comment.user) do %>
                      <%= attachment_image_tag  photo_comment.user, :profile_image, :fill, 35, 35, fallback: "no_image_user.jpg", size:'35x35' %>
                    <% end %>
                  </td>
                  <td class="align-middle">
                    <%= link_to photo_comment.user.name, admins_user_path(photo_comment.user) %>
                  </td>
                  <td class="align-middle col"><%= photo_comment.comment %></td>
                  <td class="align-middle"><%= photo_comment.created_at.strftime('%Y/%m/%d') %></td>
                  <td>
                    <%= link_to '×', admins_photo_photo_comment_path(@photo, photo_comment), method: :delete, class: "btn btn-light btn-sm" %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

　</div>
</div>