<%= render 'layouts/users_header' %>

<div class="body">
  <div class="container">

    <%= form_for(@user) do |f| %>
      <div class="row">
        <div class="col-3">
          <div id="image_view">
            <%= attachment_image_tag @user, :profile_image, :fill, 250, 250, fallback: "no_image_user.jpg", id:"orgin_img" %>
          </div>
          <label for="image_btn" class="btn btn-outline-success btn-lg col-8 offset-2">画像選択
            <%= f.attachment_field :profile_image, id: "image_btn" %>
          </label>
        </div>

        <div class="col-9">

          <div class="button-group">
            <button type="button" class="btn btn-outline-warning btn-lg col-3">カメラ情報変更</button>
            <button type="button" class="btn btn-outline-warning btn-lg col-3 offset-1">パスワード変更</button>
            <button type="button" class="btn btn-outline-primary btn-lg col-3 offset-1">退会する</button>
          </div>

          <table class="table">
            <tr>
              <th>ユーザ名</th>
              <td><%= f.text_field :name, class: "name col-12" %></td>
            </tr>
            <tr>
              <th>自己紹介</th>
              <td><%= f.text_area :introduction, class: "introduction col-12" %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= f.text_field :email, class: "email col-12" %></td>
            </tr>
          </table>

          <div class="actions">
            <%= f.submit '保存', class: "btn btn-outline-success btn-lg col-12" %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<script>
$(function() {
    $('#image_btn').on('change', function(e) {
        // 1枚だけ表示する
        var file = e.target.files[0];
        console.log(file);
        if ( !file ){
            $('#image_view').html("");
            $('#orgin_img').show();
            return;
        }
        // ファイルリーダー作成
        var fileReader = new FileReader();
        if (file.type == 'video/mp4') {
            var dom = $("<video>");
        }
        else{
            var dom = $("<img>");
        }
        dom.attr('style','width:100%');
        fileReader.onload = function() {
            // Data URIを取得
            console.log(this.result);
            var dataUri = this.result;
            dom.attr('src', dataUri);
            // img要素に表示
            $('#image_view').html(dom);
        }
        // ファイルをData URIとして読み込む
        fileReader.readAsDataURL(file);
        $('#orgin_img').hide();
    });
});
</script>