<%= render 'layouts/users_header' %>

<div class="body">
	<div class="container">

    <h3><%= @photo.user.name %></h3>

    <div class="row">
      <div class="col-4 text-center">
        <div id="profile_image">
          <%= attachment_image_tag @photo.user, :profile_image, :fill, 250, 250, fallback: "no_image_user.jpg" %>
        </div>

        <table class="table">
          <tr>
            <td>
              <div class="d-inline col-6">Follows <%= link_to @photo.user.follower.count, follows_path(@photo.user) %></div>
              <div class="d-inline col-6">Followers <%= link_to @photo.user.followed.count, followers_path(@photo.user) %></div>
            </td>
          </tr>
          <tr>
            <td><%= @photo.user.introduction %></td>
          </tr>
          <tr>
            <td>
              <% @photo.user.cameras.each do |camera| %>
                <div><i class="fas fa-camera"></i> <%= camera.camera_name %></div>
              <% end %>
            </td>
          </tr>
        </table>

        <% if @photo.user == current_user %>
          <%= link_to '編集', edit_user_path(@photo.user), class: "btn btn-outline-success col-12" %>
        <% else %>
          <% if current_user.following?(@photo.user) %>
            <%= link_to 'フォローを外す', unfollow_path(@photo.user.id), method: :POST, class: "btn btn-outline-primary col-12" %>
          <% else %>
            <%= link_to 'フォローする', follow_path(@photo.user.id), method: :POST, class: "btn btn-outline-success col-12" %>
          <% end %>
        <% end %>

      </div>

      <div class="col-8">
        <div class="row">
          <div class="col-5">
            <div id="photo_image">
              <%= attachment_image_tag @photo, :image, :fill, 285, 190, fallback: "no_image_photo.jpg" %>
            </div>
            <div class="float-right">
              <% if @photo.favorited_by?(current_user) %>
                  <%= link_to photo_favorites_path(@photo), method: :delete do %>
                    <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                  <% end %>
                  いいね <%= @photo.favorites.count %> 件
              <% else %>
                  <%= link_to photo_favorites_path(@photo), method: :post do %>
                    <i class="far fa-heart" aria-hidden="true"></i>
                  <% end %>
                  いいね <%= @photo.favorites.count %> 件
              <% end %>
            </div>

            <% if @photo.user == current_user %>
              <br>
              <%= link_to '編集', edit_photo_path(@photo), class: "btn btn-outline-success btn-sm col-5 offset-1" %>
              <%= link_to '削除', photo_path(@photo), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm col-5" %>
            <% end %>
          </div>

          <div class="col-7">
            <table class="table table-sm col-12">
              <tr>
                <th>日付</th>
                <td><%= @photo.date %></td>
              </tr>
              <tr>
                <th>カメラ</th>
                <td><%= @photo.camera %></td>
              </tr>
              <tr>
                <th>レンズ</th>
                <td><%= @photo.lens %></td>
              </tr>
              <tr>
                <th>絞り</th>
                <td><%= @photo.aperture %></td>
              </tr>
              <tr>
                <th>シャッタースピード</th>
                <td><%= @photo.ss %></td>
              </tr>
              <tr>
                <th>ISO</th>
                <td><%= @photo.iso %></td>
              </tr>
              <tr>
                <th>ホワイトバランス</th>
                <td><%= @photo.wb %></td>
              </tr>
              <tr>
                <th>ピント</th>
                <td><%= @photo.focus %></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-12">

            <% if @comment.errors.any? %>
              <div id="error_explanation">
                <p><%= @comment.errors.count %> 件のエラーがあります</p>
                <ul>
                  <% @comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% else %>
              <p id="success_explanation"><%= flash[:notice] %></p>
            <% end %>

            <table class="table">
              <% @photo.photo_comments.each do |photo_comment| %>
                <tr>
                  <td>
                    <%= link_to user_path(photo_comment.user) do %>
                      <%= attachment_image_tag  photo_comment.user, :profile_image, :fill, 35, 35, fallback: "no_image_user.jpg", size:'35x35' %>
                    <% end %>
                  </td>
                  <td class="align-middle">
                    <%= link_to photo_comment.user.name, user_path(photo_comment.user) %>
                  </td>
                  <td class="align-middle col"><%= photo_comment.comment %></td>
                  <td class="align-middle"><%= photo_comment.created_at.strftime('%Y/%m/%d') %></td>
                  <td>
                    <% if photo_comment.user == current_user %>
                      <%= link_to '×', photo_photo_comment_path(@photo, photo_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-light btn-sm" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>

            <%= form_for [@photo, @comment] do |f| %>
              <div class="row align-items-end">
                <div class="col-11">
                  <%= f.text_area :comment, rows:'4', class: "form-control" %>
                </div>
                <%= f.button :type => "submit", class: "btn btn-light rounded-circle p-0" do %>
                  <i class="far fa-paper-plane"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

　</div>
</div>