<%= render 'layouts/users_header' %>

<div class="body">
	<div class="container">

    <div class="row justify-content-center">
      <div class="col-8">

        <h4>カメラ情報登録</h4>

          <% if @camera.errors.any? %>
            <div id="error_explanation">
              <p><%= @camera.errors.count %> 件のエラーがあります</p>
              <ul>
                <% @camera.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <p id="success_explanation"><%= flash[:notice] %></p>
          <% end %>

          <%= form_for(@camera) do |f| %>
            <table class="table">
              <tr>
                <th>メーカー名</th>
                <td><%= f.text_field :manufacturer, class: "name col-6" %></td>
              </tr>
              <tr>
                <th>機種名</th>
                <td><%= f.text_field :modelname, class: "name col-12" %></td>
              </tr>
            </table>

            <div class="actions">
              <%= f.submit '登録', class: "btn btn-outline-success col-12" %>
            </div>
          <% end %>

      </div>
    </div>

    <div class="row justify-content-center camera-index">
      <div class="col-8">
        <h4>登録カメラ一覧</h4>
  			<table class="table">
          <thead class="thead-light">
  					<tr>
  						<th>メーカー名</th>
  						<th>機種名</th>
  						<th></th>
  					</tr>
          </thead>
          <tbody>
  					<% @cameras.each do |camera| %>
    					<tr>
    						<td class="align-middle"><%= camera.manufacturer %></td>
    						<td class="align-middle"><%= camera.modelname %></td>
    						<td>
                  <%= link_to "編集", edit_camera_path(camera), class: "btn btn-outline-success btn-sm col-4 offset-1" %>
                  <%= link_to "削除", camera_path(camera), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm col-4 offset-2" %>
                </td>
    					</tr>
  					<% end %>
          </tbody>
  			</table>
  		</div>
  	</div>

	</div>
</div>
