<%= render 'layouts/users_header' %>

<div class="body">
  <div class="container">

    <h3>パスワード変更</h3>

    <div class="row justify-content-center">
      <div class="col-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                新しいパスワード 
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %>
              </td>
              <td>
                <%= f.password_field :password, placeholder: "新しいパスワードを入力", autofocus: true, autocomplete: "new-password", class: "col-12" %>
              </td>
            </tr>
            <tr>
              <td>新しいパスワード再入力</td>
              <td><%= f.password_field :password_confirmation, placeholder: "新しいパスワードを入力", autocomplete: "new-password", class: "col-12" %></td>
            </tr>
            <tr>
              <td>現在のパスワード</td>
              <td><%= f.password_field :current_password, placeholder: "現在のパスワードを入力", autocomplete: "current-password", class: "col-12" %></td>
            </tr>
          </tbody>
        </table>
        <%= f.submit "保存", class: "btn btn-outline-success col-12" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
